<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>

<body>
  <form class="" action="/login" method="post">
    <input type="text" name="email" placeholder="email" autocomplete="off">
    <input type="password" name="password" placeholder="password" autocomplete="off"><br />
    <input type="submit" name="" value="Dang nhap voi Local">
  </form>
  <a href="/auth/fb">
    <button type="button" name="button">Dang Nhap voi facebook</button>
  </a>
  <a href="/auth/gg">
    <button type="button" name="button">Dang Nhap voi google</button>
  </a>
</body>

</html>